body {
  background-color: #5383AB;
}

.nav, .nav1, .nav2, .nav3{
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
  border: 5px solid grey;
  padding: 15px 15px 15px 15px;
}

.nav:hover, .nav1:hover, .nav2:hover, .nav3:hover{
  border-color: red;
  transition: all .5s ease-in-out;
}

.active {
  background: green;
}

.menubar{
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 50px;
  align-items: center;

}

.passport-holder {
  display: flex;
  flex-direction: column;

}

.passport-top {
  height: 300px;
  width: 500px;
  margin: 0 auto;
  background-color: #E4E8DA;
  color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.photo-line-top{
  height: 220px;
  width: 10px;
  background-color: #D1DA0F;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.passport-bottom {
  height: 300px;
  width: 500px;
  margin: 0 auto;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.passport-bottom-right{
  height: 300px;
  width: 300px;
  background-color: #E9ECF1;
  color: white;
}

.passport-bottom-left{
  height: 300px;
  width: 200px;
  background-color: #E9ECF1;
  color: white;
  display:flex;
  flex-direction: row;
}

.photo-line{
  height: 240px;
  width: 10px;
  background-color: #2AAAE4;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;

}

.passport-photo{
  margin-left: 10px;
  margin-top: 60px;
  width: 150px;
}

.passport-name{
  height: 10px;
  width: 100px;
  background-color: #48494B;
  margin-left: 10px;
  margin-top: 40px;
  border-radius: 10px;
}

.passport-name2{
  height: 10px;
  width: 120px;
  background-color: #48494B;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.passport-name3 {
  height: 10px;
  width: 150px;
  background-color: #48494B;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.passport-name4 {
  height: 10px;
  width: 100px;
  background-color: #48494B;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.passport-name5 {
  height: 10px;
  width: 150px;
  background-color: #48494B;
  margin-left: 10px;
  margin-top: 50px;
  border-radius: 10px;
}

.passport-name6 {
  height: 10px;
  width: 100px;
  background-color: #48494B;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}
