@font-face {
  font-family: alyFont;
  src: url("./Fonts/Circular_Air-Bold.woff2");
  font-style: normal;
}

.typed-cursor {
  font-size: 30px;
  color: white;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: alyFont;
}

.main-photo {
  background: url("./websitebackground.JPG");
  background-size: cover;
  min-height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.6;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}

.greeting {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 600px;
  height: 400px;
}

.hello {
  color: white;
  text-align: center;
  font-size: 90px;
}

.type-area {
  text-align: center;
}

.type {
  color: white;
  align: center;
  font-size: 40px;
}

.circle {
  height: 80px;
  width: 80px;
  border: 10px solid blue;
  clip: rect(0px, 100px, 100px, 0px);
  position: absolute;
  border-radius: 50px;
}

#myCircle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 10s forwards;
}

#at {
  font-family: alyFont;
  animation: appear 10s forwards;
  font-size: 40px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
  float: right;
}

.active {
  border-color: grey;
}

.home, .news, .contact, .about {
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  align-items: center;
}

.home:hover, .news:hover, .contact:hover, .about:hover {
  color: white;
  transition: all .5s ease-in-ease-out;
}

.social-icon {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.email1 {
  width: 200px;
  height: 200px;
}

.email {
  width: inherit;
  height: inherit;
  background: url("./icons/Mail.svg");
  background-repeat: no-repeat;
  display: block;
  background-size: 200px 200px;
  -webkit-background-size:200px 200px;
  -moz-background-size: 200px 200px;
  -o-background-size: 200px 200px;
  position: relative;
  right: 50px;
}

.linkedin1 {
  width: 200px;
  height: 200px;
}

.linkedin {
  background: url("./icons/LinkedIn.svg");
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-size: 126px 207px;
  -webkit-background-size:126px 207px;
  -moz-background-size: 126px 207px;
  -o-background-size: 126px 207px;
  display: block;
  position: relative;
  right: 100px;
}

.instagram1 {
  width: 200px;
  height: 200px;
}

.instagram {
  background: url("./icons/Instagram.svg");
  width: inherit;
  height: inherit;
  background-size: 145px 184px;
  -webkit-background-size:145px 184px;
  -moz-background-size: 145px 184px;
  -o-background-size: 145px 184px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  right: 165px;
}

.github1 {
  width: 200px;
  height: 200px;
}

.github {
  width: inherit;
  height: inherit;
  background: url("./icons/Github.svg");
  background-size: 154px 191px;
  -webkit-background-size:154px 191px;
  -moz-background-size: 154px 191px;
  -o-background-size: 154px 191px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  right: 70px;
}

.email:hover {
  background: url("./coloricons/Mail.svg") no-repeat;
  background-size: 200px 200px;
  -webkit-background-size:200px 200px;
  -moz-background-size: 200px 200px;
  -o-background-size: 200px 200px;
  transition: all .5s ease-in-out;
  -webkit-transiton:all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.linkedin:hover {
  background: url("./coloricons/LinkedIn.svg") no-repeat;
  background-size: 126px 207px;
  -webkit-background-size:126px 207px;
  -moz-background-size: 126px 207px;
  -o-background-size: 126px 207px;
  transition: all .5s ease-in-out;
  -webkit-transiton:all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.instagram:hover {
  background: url("./coloricons/Instagram.svg") no-repeat;
  background-size: 145px 184px;
  -webkit-background-size:145px 184px;
  -moz-background-size: 145px 184px;
  -o-background-size: 145px 184px;
  transition: all .5s ease-in-out;
  -webkit-transiton:all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.github:hover {
  background: url("./coloricons/Github.svg") no-repeat;
  background-size: 154px 191px;
  -webkit-background-size:154px 191px;
  -moz-background-size: 154px 191px;
  -o-background-size: 154px 191px;
  transition: all .5s ease-in-out;
  -webkit-transiton:all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
